# Environment variables
.env
.env.*
!.env.example
env
**/env

# Java / Maven
**/target/
!.mvn/wrapper/maven-wrapper.jar

# IDE
.idea/
*.iws
*.iml
*.ipr
.vscode/
.settings/
.classpath
.project
.factorypath
.springBeans
.sts4-cache

# OS
Thumbs.db
.DS_Store

# Logs
*.log